<div class="about">
  <div class="objective">
    <app-card [cardTitle]="'Objective'">
      <p>
        I am dedicated to perfecting my craft by learning from more seasoned
        developers, remaining humble and continuously making strides.
      </p>
    </app-card>
  </div>

  <div class="work">
    <app-card [cardTitle]="'Work Experince'">
      <p>
        Jr. Web Developer | ODZ Services &nbsp; <br />
        2019/10 - 2021/06
        <br />
        <br />

        Actively contributed on several web applications in Angular and React.js
        with backend in Node.js <br />
        <br />
        Contributed on multiple in-house projects for the organization to manage
        ongoing projects and developers assigned. <br />
        <br />
        Proactive in structuring applications to make them easy to maintain and
        ensure they are highly modularized.
      </p>
    </app-card>
  </div>

  <div class="technical">
    <app-card [cardTitle]="'Technical Skills'">
      <p>
        Angular, React.js & Node.js <br />
        Version Control: Git <br />
        Text Editor: VS Code <br />
        Databases: MongoDB, MYSQL, Google Firebase <br />
        Others: Bootstrap, Angular Material, SASS
      </p>
    </app-card>
  </div>

  <div class="education">
    <app-card [cardTitle]="'Education'">
      <p>
        Stream: B.E. (CSE) <br />
        University: Chandigarh University <br />
        Batch: 2015 - 2019
      </p>
    </app-card>
  </div>
</div>
