.about {
  display: grid;
  gap: 20px;
  padding: 10px;
  grid-template-columns: 1fr 1fr;

  p {
    font-size: 1.1em;
    line-height: 1.5;
    margin: 5px 20px;
    // color: #f9e784;
  }

  .carrer,
  .work {
    grid-column: span 2;
  }
}
