.certificates {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 25px;
  column-gap: 25px;
  align-items: end;
  justify-items: center;
  padding: 20px 40px 10px 20px;

  app-card {
    position: relative;
    cursor: pointer;
    text-align: center;
    height: 100%;
    img {
      width: 100%;
    }

    p {
      position: absolute;
      bottom: 0;
      color: #f9e784;
      z-index: 2;
      width: 100%;
      right: 0;
      left: 0;
      background-color: rgba(#8fb339, 0.7);
      padding: 10px 15px;
    }

    &:nth-child(1) {
      grid-row: span 2;
      grid-column: span 2;
    }

    &:nth-child(2) {
      grid-row: 3 / span 2;
      grid-column: span 2;
    }
    &:last-child {
      grid-row: span 2;
      grid-column: span 2;
      // grid-column: 2/3;
    }
  }

  @media screen and (max-width: 768px) {
    display: grid;
    padding: 0px 20px 10px 20px;
    grid-template-columns: 1fr;

    app-card {
      pointer-events: none;

      &:nth-child(1) {
        grid-row: span 1;
        grid-column: span 1;
      }

      &:nth-child(2) {
        grid-row: span 1;
        grid-column: span 1;
      }
      &:last-child {
        grid-row: span 1;
        grid-column: span 1;
      }
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    display: grid;
    padding: 20px 40px 10px 20px;
    grid-template-columns: 1fr 1fr;

    app-card {
      pointer-events: none;

      &:nth-child(1) {
        grid-row: span 2;
        grid-column: span 2;
      }

      &:nth-child(2) {
        grid-row: span 2;
        grid-column: span 2;
      }
      &:last-child {
        grid-row: span 2;
        grid-column: span 2;
      }
    }
  }
}
