.home {
  display: grid;
  place-items: center;
  height: 100vh;

  .hero {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    overflow: hidden;

    .intro {
      grid-row: 2 / span 3;
      display: grid;
      grid-template-columns: 1fr 4fr;
      gap: 25px;
      z-index: 2;
      padding: 10px 20px;
      justify-self: flex-end;

      .main-text {
        justify-self: end;
        align-self: center;
        grid-row: span 2;
        font-size: 3em;
        color: #004385;
      }

      .subtext {
        display: grid;
        text-align: left;
        align-self: center;
        grid-row: span 2;
        font-size: 1.8em;
        gap: 10px;

        h3:nth-child(1) {
          color: #f9e784;
        }
        h3:nth-child(2) {
          color: #8fb339;
        }
      }

      h5 {
        font-size: 1.2em;
        grid-column: span 3;
        grid-row: 3 / 5;
        text-align: center;
        color: #e6e6ea;
      }
    }

    .image {
      grid-column: 2;
      grid-row: 2 / span 3;
      perspective: 1200px;
      position: relative;

      img {
        max-width: 500px;
        z-index: 2;
        transform: rotateY(320deg);
      }
    }

    &::before {
      content: " ";
      overflow: hidden;
      width: 100px;
      height: 100px;
      position: absolute;
      background-color: #f9e784;
      z-index: 1;
      top: 55%;
      left: 5%;
      opacity: 0.15;
      border-radius: 50%;
    }

    &::after {
      content: " ";
      overflow: hidden;
      width: 150px;
      height: 150px;
      position: absolute;
      background-color: #f9e784;
      z-index: 1;
      top: 5%;
      right: 25%;
      opacity: 0.1;
      border-radius: 50%;
    }
  }

  @media screen and (max-width: 500px) {
    height: calc(100vh - 100px);
    .hero {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      &::before {
        content: "";
        width: 0;
        height: 0;
        top: 0;
        left: 0;
      }

      &::after {
        content: "";
        width: 0;
        height: 0;
        top: 0;
        right: 0;
      }

      .image {
        display: none;
      }
    }
  }

  @media screen and (min-width: 501px) and (max-width: 768px) {
    height: calc(100vh - 165px);
    .hero {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      &::before {
        content: "";
        width: 0;
        height: 0;
        top: 0;
        left: 0;
      }

      &::after {
        content: "";
        width: 0;
        height: 0;
        top: 0;
        right: 0;
      }

      .image {
        display: none;
      }
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .hero {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      &::before {
        content: "";
        width: 0;
        height: 0;
        top: 0;
        left: 0;
      }

      &::after {
        content: "";
        width: 0;
        height: 0;
        top: 0;
        right: 0;
      }

      .image {
        display: none;
      }
    }
  }
}
