:host {
  display: grid;
  grid-template-columns: 1fr auto;
}

main {
  background-color: #011627;
}

// #011627 - black
// #F4F4F8 - white
// #D05353 - red
// #F9E784 - yellow
// #004385 - blue
// #8FB339 - green
// #CCC9E7 - lavender
// #E6E6EA - gainsboro(silver)
