<app-sidebar></app-sidebar>
<main>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, deserunt
    eius! Voluptas sint rerum praesentium doloremque omnis aperiam blanditiis
    tempore, labore, sequi ipsa laborum incidunt. In debitis molestias modi
    commodi voluptatum nemo beatae ea quaerat quidem impedit? Delectus dolor
    facilis quidem iure excepturi distinctio voluptatem tempore consequuntur
    earum rerum aperiam quis suscipit repellendus dolore, modi quod quasi
    inventore amet, ipsum illum! Expedita accusantium iste, molestiae eligendi
    obcaecati voluptate voluptates officiis in, minus reiciendis, quae sunt?
    Corporis ex aspernatur neque, qui consequuntur commodi dolore pariatur
    suscipit omnis maiores, deleniti facere repudiandae consequatur quisquam
    labore ab incidunt expedita. Nostrum repudiandae assumenda culpa.
  </p>
</main>
