.avatar-image {
  position: relative;
  img {
    width: 100px;
    height: 100px;
    position: relative;
    transition: all 0.2s;
    &.rounded {
      border-radius: 50%;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
        // border: 2px solid rgba(#e6e6ea, 0.3);
        // padding: 5px;
      }
    }
  }
}
