.navigation {
  .nav-links {
    list-style: none;
    display: grid;
    justify-items: center;
    margin: 25px 5px;
    gap: 5px;

    .link {
      padding: 10px 20px;
      cursor: pointer;
      transition: all 50ms;
      &:hover {
        border-radius: 5px;
        background-color: #8fb339;
      }

      &.active {
        border-bottom: 2px solid #004385;

        &:hover {
          border-bottom: 2px solid #011627;
        }
      }
    }
  }
}
